.home-footer__main {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.home-footer__legal {
	width: 100%;
}

[dir=ltr] .home-footer__legal {
	text-align: left;
}

[dir=rtl] .home-footer__legal {
	text-align: right;
}

[dir] .home-footer__legal-section {
	margin-bottom: 10px;
	text-align: center;
}

.home-footer__legal-section-link {
	display: inline;
	font-size: var(--font-size-body-xs);
	font-stretch: var(--font-stretch-normal);
	line-height: var(--line-height-body-xs);
	letter-spacing: var(--letter-spacing-body-xs);
	text-transform: uppercase;
	font-weight: var(--font-weight-light);
}

[dir=ltr] .home-footer__legal-section-link {
	margin-right: var(--spacing-04);
}

[dir=rtl] .home-footer__legal-section-link {
	margin-left: var(--spacing-04);
}

[dir=ltr] .home-footer__legal-section-link:last-child {
	margin-right: 0;
}

[dir=rtl] .home-footer__legal-section-link:last-child {
	margin-left: 0;
}

.home-footer__legal-section-link .link {
	text-decoration: none;
}

.home-footer__cookies-settings {
	font-size: var(--font-size-body-xs);
	font-stretch: var(--font-stretch-normal);
	text-transform: uppercase;
	line-height: var(--line-height-body-xs);
	letter-spacing: var(--letter-spacing-body-xs);
	font-weight: var(--font-weight-light);
}

.home-footer__legal-section-link:hover {
	text-decoration: none;
}

[dir] .home-footer__social-network {
	margin-bottom: var(--spacing-10);
}

[dir] .home-footer__newsletter {
	margin-top: var(--spacing-17);
}

@media screen and (min-width: 768px) {
	.home-footer__main {
		flex-grow: 1;
	}

	.home-footer__legal-section {
		text-transform: uppercase;
		width: 100%;
	}

	[dir] .home-footer__legal-section {
		margin-bottom: 50px;
	}

	[dir] .home-footer__social-network {
		margin-bottom: 200px;
	}
}

.home-page {
	overflow: hidden;
	-ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.home-page::-webkit-scrollbar {
	display: none;
}

.home-page .layout-content,
.home-page .layout-content__main {
	min-width: 100%;
}

[dir] .home-page .layout-content, [dir] .home-page .layout-content__main {
	padding: 0;
}

[dir=ltr] .home-page .layout-content, [dir=ltr] .home-page .layout-content__main {
	margin-left: 0;
	margin-right: 0;
}

[dir=rtl] .home-page .layout-content, [dir=rtl] .home-page .layout-content__main {
	margin-right: 0;
	margin-left: 0;
}

.home-page .layout-header-mob {
	touch-action: none;
}

/* stylelint-disable declaration-no-important */
.home-page .accessibility-widget-button {
	bottom: calc(var(--spacing-03) + var(--search-link-height) + var(--spacing-05) + 56px) !important;
}

.home-page__newsletter {
	font-size: var(--font-size-heading-m);
	line-height: var(--line-height-heading-m);
	letter-spacing: var(--letter-spacing-heading-m);
	text-transform: uppercase;
	font-stretch: var(--font-stretch-normal);
	font-weight: var(--font-weight-light);
}

@media screen and (min-width: 768px) {
	.home-page .accessibility-widget-button {
		bottom: var(--spacing-06) !important;
	}

	/* stylelint-disable-next-line selector-max-id */
	[dir=ltr] .home-page #INDmenu-btn {
		right: var(--spacing-06) !important;
	}
	[dir=rtl] .home-page #INDmenu-btn {
		left: var(--spacing-06) !important;
	}

	[dir] .home-page:not(.mkt) .layout-footer {
		margin-top: calc(var(--layout-header-height) + 2 * var(--spacing-05));
	}
}

